﻿/*!
 * ui-grid - v4.4.5 - 2018-03-31
 * Copyright (c) 2018 ; License: MIT 
 */

#ui-grid-twbs #ui-grid-twbs .form-horizontal .form-group:before, #ui-grid-twbs #ui-grid-twbs .form-horizontal .form-group:after, #ui-grid-twbs #ui-grid-twbs .btn-toolbar:before, #ui-grid-twbs #ui-grid-twbs .btn-toolbar:after, #ui-grid-twbs #ui-grid-twbs .btn-group-vertical > .btn-group:before, #ui-grid-twbs #ui-grid-twbs .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table
}

#ui-grid-twbs #ui-grid-twbs .form-horizontal .form-group:after, #ui-grid-twbs #ui-grid-twbs .btn-toolbar:after, #ui-grid-twbs #ui-grid-twbs .btn-group-vertical > .btn-group:after {
    clear: both
}

.ui-grid {
    border: 1px solid #d4d4d4;
    box-sizing: content-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}

.ui-grid-vertical-bar {
    position: absolute;
    right: 0;
    width: 0
}

.ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar, .ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
    width: 1px
}

.ui-grid-scrollbar-placeholder {
    background-color: transparent
}

.ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar {
    background-color: #d4d4d4
}

.ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
    background-color: #d4d4d4
}

.ui-grid-header-cell:last-child .ui-grid-vertical-bar {
    right: -1px;
    width: 1px;
    background-color: #d4d4d4
}

.ui-grid-clearfix:before, .ui-grid-clearfix:after {
    content: "";
    display: table
}

.ui-grid-clearfix:after {
    clear: both
}

.ui-grid-invisible {
    visibility: hidden
}

.ui-grid-contents-wrapper {
    position: relative;
    height: 100%;
    width: 100%
}

.ui-grid-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.ui-grid-icon-button {
    background-color: transparent;
    border: none;
    padding: 0
}

.ui-grid-top-panel-background {
    background-color: #f3f3f3
}

.ui-grid-header {
    border-bottom: 1px solid #d4d4d4;
    box-sizing: border-box
}

.ui-grid-top-panel {
    position: relative;
    overflow: hidden;
    font-weight: bold;
    background-color: #f3f3f3;
    -webkit-border-top-right-radius: -1px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: -1px;
    -moz-border-radius-topright: -1px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: -1px;
    border-top-right-radius: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: -1px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.ui-grid-header-viewport {
    overflow: hidden
}

.ui-grid-header-canvas:before, .ui-grid-header-canvas:after {
    content: "";
    display: table;
    line-height: 0
}

.ui-grid-header-canvas:after {
    clear: both
}

.ui-grid-header-cell-wrapper {
    position: relative;
    display: table;
    box-sizing: border-box;
    height: 100%
}

.ui-grid-header-cell-row {
    display: table-row
}

.ui-grid-header-cell {
    position: relative;
    box-sizing: border-box;
    background-color: inherit;
    border-right: 1px solid;
    border-color: #d4d4d4;
    display: table-cell;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 0
}

    .ui-grid-header-cell:last-child {
        border-right: 0
    }

    .ui-grid-header-cell .sortable {
        cursor: pointer
    }

    .ui-grid-header-cell .ui-grid-sort-priority-number {
        margin-left: -8px
    }

.ui-grid-header .ui-grid-vertical-bar {
    top: 0;
    bottom: 0
}

.ui-grid-column-menu-button {
    position: absolute;
    right: 1px;
    top: 0
}

    .ui-grid-column-menu-button .ui-grid-icon-angle-down {
        vertical-align: sub
    }

.ui-grid-header-cell-last-col .ui-grid-cell-contents, .ui-grid-header-cell-last-col .ui-grid-filter-container, .ui-grid-header-cell-last-col .ui-grid-column-menu-button, .ui-grid-header-cell-last-col + .ui-grid-column-resizer.right {
    margin-right: 13px
}

.ui-grid-render-container-right .ui-grid-header-cell-last-col .ui-grid-cell-contents, .ui-grid-render-container-right .ui-grid-header-cell-last-col .ui-grid-filter-container, .ui-grid-render-container-right .ui-grid-header-cell-last-col .ui-grid-column-menu-button, .ui-grid-render-container-right .ui-grid-header-cell-last-col + .ui-grid-column-resizer.right {
    margin-right: 28px
}

.ui-grid-column-menu {
    position: absolute
}

    .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-add, .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove {
        -webkit-transition: all .04s linear;
        -moz-transition: all .04s linear;
        -o-transition: all .04s linear;
        transition: all .04s linear;
        display: block !important
    }

        .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-add.ng-hide-add-active, .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove {
            -webkit-transform: translateY(-100%);
            -moz-transform: translateY(-100%);
            -o-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%)
        }

            .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-add, .ui-grid-column-menu .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove.ng-hide-remove-active {
                -webkit-transform: translateY(0);
                -moz-transform: translateY(0);
                -o-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0)
            }

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-add, .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove {
    -webkit-transition: all .04s linear;
    -moz-transition: all .04s linear;
    -o-transition: all .04s linear;
    transition: all .04s linear;
    display: block !important
}

    .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-add.ng-hide-add-active, .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove {
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%)
    }

        .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-add, .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid.ng-hide-remove.ng-hide-remove-active {
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -o-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0)
        }

.ui-grid-filter-container {
    padding: 4px 10px;
    position: relative
}

    .ui-grid-filter-container .ui-grid-filter-button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0
    }

        .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
            position: absolute;
            top: 50%;
            line-height: 32px;
            margin-top: -16px;
            right: 10px;
            opacity: .66
        }

            .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"]:hover {
                opacity: 1
            }

    .ui-grid-filter-container .ui-grid-filter-button-select {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0
    }

        .ui-grid-filter-container .ui-grid-filter-button-select [class^="ui-grid-icon"] {
            position: absolute;
            top: 50%;
            line-height: 32px;
            margin-top: -16px;
            right: 0;
            opacity: .66
        }

            .ui-grid-filter-container .ui-grid-filter-button-select [class^="ui-grid-icon"]:hover {
                opacity: 1
            }

input[type="text"].ui-grid-filter-input {
    box-sizing: border-box;
    padding: 0 18px 0 0;
    margin: 0;
    border: 0;
    width: 100%;
    border: 1px solid #d4d4d4;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

    input[type="text"].ui-grid-filter-input:hover {
        border: 1px solid #d4d4d4
    }

select.ui-grid-filter-select {
    padding: 0;
    margin: 0;
    border: 0;
    width: 90%;
    border: 1px solid #d4d4d4;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

    select.ui-grid-filter-select:hover {
        border: 1px solid #d4d4d4
    }

.ui-grid-filter-cancel-button-hidden select.ui-grid-filter-select {
    width: 100%
}

.ui-grid-render-container {
    position: inherit;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

    .ui-grid-render-container:focus {
        outline: none
    }

.ui-grid-viewport {
    min-height: 20px;
    position: relative;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

    .ui-grid-viewport:focus {
        outline: none !important
    }

.ui-grid-canvas {
    position: relative;
    padding-top: 1px
}

.ui-grid-row {
    clear: both
}

    .ui-grid-row:nth-child(odd) .ui-grid-cell {
        background-color: #fdfdfd
    }

    .ui-grid-row:nth-child(even) .ui-grid-cell {
        background-color: #f3f3f3
    }

    .ui-grid-row:last-child .ui-grid-cell {
        border-bottom-color: #d4d4d4;
        border-bottom-style: solid
    }

.ui-grid-no-row-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10%;
    background-color: #f3f3f3;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #d4d4d4;
    font-size: 2em;
    text-align: center
}

    .ui-grid-no-row-overlay > * {
        position: absolute;
        display: table;
        margin: auto 0;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: .66
    }

.ui-grid-cell {
    overflow: hidden;
    float: left;
    background-color: inherit;
    border-right: 1px solid;
    border-color: #d4d4d4;
    box-sizing: border-box
}

    .ui-grid-cell:last-child {
        border-right: 0
    }

.ui-grid-cell-contents {
    padding: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%
}

.ui-grid-cell-contents-hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    display: none
}

.ui-grid-row .ui-grid-cell.ui-grid-row-header-cell {
    background-color: #f0f0ee;
    border-bottom: solid 1px #d4d4d4
}

.ui-grid-cell-empty {
    display: inline-block;
    width: 10px;
    height: 10px
}

.ui-grid-footer-info {
    padding: 5px 10px
}

.ui-grid-footer-panel-background {
    background-color: #f3f3f3
}

.ui-grid-footer-panel {
    position: relative;
    border-bottom: 1px solid #d4d4d4;
    border-top: 1px solid #d4d4d4;
    overflow: hidden;
    font-weight: bold;
    background-color: #f3f3f3;
    -webkit-border-top-right-radius: -1px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: -1px;
    -moz-border-radius-topright: -1px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: -1px;
    border-top-right-radius: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: -1px;
    -moz-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box
}

.ui-grid-grid-footer {
    float: left;
    width: 100%
}

.ui-grid-footer-viewport, .ui-grid-footer-canvas {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%
}

.ui-grid-footer-viewport {
    overflow: hidden
}

.ui-grid-footer-canvas {
    position: relative
}

    .ui-grid-footer-canvas:before, .ui-grid-footer-canvas:after {
        content: "";
        display: table;
        line-height: 0
    }

    .ui-grid-footer-canvas:after {
        clear: both
    }

.ui-grid-footer-cell-wrapper {
    position: relative;
    display: table;
    box-sizing: border-box;
    height: 100%
}

.ui-grid-footer-cell-row {
    display: table-row
}

.ui-grid-footer-cell {
    overflow: hidden;
    background-color: inherit;
    border-right: 1px solid;
    border-color: #d4d4d4;
    box-sizing: border-box;
    display: table-cell
}

    .ui-grid-footer-cell:last-child {
        border-right: 0
    }

.ui-grid-menu-button {
    z-index: 2;
    position: absolute;
    right: 0;
    top: 0;
    background: #f3f3f3;
    border: 0;
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    cursor: pointer;
    height: 32px;
    font-weight: normal
}

    .ui-grid-menu-button .ui-grid-icon-container {
        margin-top: 5px;
        margin-left: 2px
    }

    .ui-grid-menu-button .ui-grid-menu {
        right: 0
    }

        .ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid {
            overflow: scroll
        }

.ui-grid-menu {
    overflow: hidden;
    max-width: 320px;
    z-index: 2;
    position: absolute;
    right: 100%;
    padding: 0 10px 20px 10px;
    cursor: pointer;
    box-sizing: border-box
}

.ui-grid-menu-item {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.ui-grid-menu .ui-grid-menu-inner {
    background: #fff;
    border: 1px solid #d4d4d4;
    position: relative;
    white-space: nowrap;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0
}

    .ui-grid-menu .ui-grid-menu-inner ul {
        margin: 0;
        padding: 0;
        list-style-type: none
    }

        .ui-grid-menu .ui-grid-menu-inner ul li {
            padding: 0
        }

            .ui-grid-menu .ui-grid-menu-inner ul li button {
                color: #000;
                min-width: 100%;
                padding: 8px;
                text-align: left;
                background: transparent;
                border: none
            }

                .ui-grid-menu .ui-grid-menu-inner ul li button:hover, .ui-grid-menu .ui-grid-menu-inner ul li button:focus {
                    background-color: #b3c4c7
                }

                .ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item-active {
                    background-color: #9cb2b6
                }

            .ui-grid-menu .ui-grid-menu-inner ul li:not(:last-child) > button {
                border-bottom: 1px solid #d4d4d4
            }

.ui-grid-sortarrow {
    right: 5px;
    position: absolute;
    width: 20px;
    top: 0;
    bottom: 0;
    background-position: center
}

    .ui-grid-sortarrow.down {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg)
    }

@font-face {
    font-family: 'ui-grid';
    src: url('../ui-grid/ui-grid.eot');
    src: url('../ui-grid/ui-grid.eot#iefix') format('embedded-opentype'),url('../ui-grid/ui-grid.woff') format('woff'),url('../ui-grid/ui-grid.ttf') format('truetype'),url('../ui-grid/ui-grid.svg?#ui-grid') format('svg');
    font-weight: normal;
    font-style: normal
}

[class^="ui-grid-icon"]:before, [class*=" ui-grid-icon"]:before {
    font-family: "ui-grid";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em
}

.ui-grid-icon-blank::before {
    width: 1em;
    content: ' '
}

.ui-grid-icon-plus-squared:before {
    content: '\c350'
}

.ui-grid-icon-minus-squared:before {
    content: '\c351'
}

.ui-grid-icon-search:before {
    content: '\c352'
}

.ui-grid-icon-cancel:before {
    content: '\c353'
}

.ui-grid-icon-info-circled:before {
    content: '\c354'
}

.ui-grid-icon-lock:before {
    content: '\c355'
}

.ui-grid-icon-lock-open:before {
    content: '\c356'
}

.ui-grid-icon-pencil:before {
    content: '\c357'
}

.ui-grid-icon-down-dir:before {
    content: '\c358'
}

.ui-grid-icon-up-dir:before {
    content: '\c359'
}

.ui-grid-icon-left-dir:before {
    content: '\c35a'
}

.ui-grid-icon-right-dir:before {
    content: '\c35b'
}

.ui-grid-icon-left-open:before {
    content: '\c35c'
}

.ui-grid-icon-right-open:before {
    content: '\c35d'
}

.ui-grid-icon-angle-down:before {
    content: '\c35e'
}

.ui-grid-icon-filter:before {
    content: '\c35f'
}

.ui-grid-icon-sort-alt-up:before {
    content: '\c360'
}

.ui-grid-icon-sort-alt-down:before {
    content: '\c361'
}

.ui-grid-icon-ok:before {
    content: '\c362'
}

.ui-grid-icon-menu:before {
    content: '\c363'
}

.ui-grid-icon-indent-left:before {
    content: '\e800'
}

.ui-grid-icon-indent-right:before {
    content: '\e801'
}

.ui-grid-icon-spin5:before {
    content: '\ea61'
}

.ui-grid[dir=rtl] .ui-grid-header-cell, .ui-grid[dir=rtl] .ui-grid-footer-cell, .ui-grid[dir=rtl] .ui-grid-cell {
    float: right !important
}

.ui-grid[dir=rtl] .ui-grid-column-menu-button {
    position: absolute;
    left: 1px;
    top: 0;
    right: inherit
}

.ui-grid[dir=rtl] .ui-grid-cell:first-child, .ui-grid[dir=rtl] .ui-grid-header-cell:first-child, .ui-grid[dir=rtl] .ui-grid-footer-cell:first-child {
    border-right: 0
}

.ui-grid[dir=rtl] .ui-grid-cell:last-child, .ui-grid[dir=rtl] .ui-grid-header-cell:last-child {
    border-right: 1px solid #d4d4d4;
    border-left: 0
}

.ui-grid[dir=rtl] .ui-grid-header-cell:first-child .ui-grid-vertical-bar, .ui-grid[dir=rtl] .ui-grid-footer-cell:first-child .ui-grid-vertical-bar, .ui-grid[dir=rtl] .ui-grid-cell:first-child .ui-grid-vertical-bar {
    width: 0
}

.ui-grid[dir=rtl] .ui-grid-menu-button {
    z-index: 2;
    position: absolute;
    left: 0;
    right: auto;
    background: #f3f3f3;
    border: 1px solid #d4d4d4;
    cursor: pointer;
    min-height: 27px;
    font-weight: normal
}

    .ui-grid[dir=rtl] .ui-grid-menu-button .ui-grid-menu {
        left: 0;
        right: auto
    }

.ui-grid[dir=rtl] .ui-grid-filter-container .ui-grid-filter-button {
    right: initial;
    left: 0
}

    .ui-grid[dir=rtl] .ui-grid-filter-container .ui-grid-filter-button [class^="ui-grid-icon"] {
        right: initial;
        left: 10px
    }

.ui-grid-animate-spin {
    -moz-animation: ui-grid-spin 2s infinite linear;
    -o-animation: ui-grid-spin 2s infinite linear;
    -webkit-animation: ui-grid-spin 2s infinite linear;
    animation: ui-grid-spin 2s infinite linear;
    display: inline-block
}

@-moz-keyframes ui-grid-spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes ui-grid-spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-o-keyframes ui-grid-spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-ms-keyframes ui-grid-spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes ui-grid-spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

#ui-grid-twbs #ui-grid-twbs .form-horizontal .form-group:before, #ui-grid-twbs #ui-grid-twbs .form-horizontal .form-group:after, #ui-grid-twbs #ui-grid-twbs .btn-toolbar:before, #ui-grid-twbs #ui-grid-twbs .btn-toolbar:after, #ui-grid-twbs #ui-grid-twbs .btn-group-vertical > .btn-group:before, #ui-grid-twbs #ui-grid-twbs .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table
}

#ui-grid-twbs #ui-grid-twbs .form-horizontal .form-group:after, #ui-grid-twbs #ui-grid-twbs .btn-toolbar:after, #ui-grid-twbs #ui-grid-twbs .btn-group-vertical > .btn-group:after {
    clear: both
}

.ui-grid-cell-focus {
    outline: 0;
    background-color: #b3c4c7
}

.ui-grid-focuser {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%
}

    .ui-grid-focuser:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)
    }

.ui-grid-offscreen {
    display: block;
    position: absolute;
    left: -10000px;
    top: -10000px;
    clip: rect(0, 0, 0, 0)
}

.ui-grid-cell input {
    border-radius: inherit;
    padding: 0;
    width: 100%;
    color: inherit;
    height: auto;
    font: inherit;
    outline: none
}

    .ui-grid-cell input:focus {
        color: inherit;
        outline: none
    }

    .ui-grid-cell input[type="checkbox"] {
        margin: 9px 0 0 6px;
        width: auto
    }

    .ui-grid-cell input.ng-invalid {
        border: 1px solid #fc8f8f
    }

    .ui-grid-cell input.ng-valid {
        border: 1px solid #d4d4d4
    }

.ui-grid-viewport .ui-grid-empty-base-layer-container {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    z-index: -1
}

.expandableRow .ui-grid-row:nth-child(odd) .ui-grid-cell {
    background-color: #fdfdfd
}

.expandableRow .ui-grid-row:nth-child(even) .ui-grid-cell {
    background-color: #f3f3f3
}

.ui-grid-cell.ui-grid-disable-selection.ui-grid-row-header-cell {
    pointer-events: none
}

.ui-grid-expandable-buttons-cell i {
    pointer-events: all
}

.scrollFiller {
    float: left;
    border: 1px solid #d4d4d4
}

.ui-grid-tree-header-row {
    font-weight: bold !important
}

.movingColumn {
    position: absolute;
    top: 0;
    border: 1px solid #d4d4d4;
    box-shadow: inset 0 0 14px rgba(0,0,0,0.2)
}

    .movingColumn .ui-grid-icon-angle-down {
        display: none
    }

#ui-grid-twbs #ui-grid-twbs .form-horizontal .form-group:before, #ui-grid-twbs #ui-grid-twbs .form-horizontal .form-group:after, #ui-grid-twbs #ui-grid-twbs .btn-toolbar:before, #ui-grid-twbs #ui-grid-twbs .btn-toolbar:after, #ui-grid-twbs #ui-grid-twbs .btn-group-vertical > .btn-group:before, #ui-grid-twbs #ui-grid-twbs .btn-group-vertical > .btn-group:after {
    content: " ";
    display: table
}

#ui-grid-twbs #ui-grid-twbs .form-horizontal .form-group:after, #ui-grid-twbs #ui-grid-twbs .btn-toolbar:after, #ui-grid-twbs #ui-grid-twbs .btn-group-vertical > .btn-group:after {
    clear: both
}

.ui-grid-pager-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: content-box
}

.ui-grid-pager-container {
    float: left
}

.ui-grid-pager-control {
    padding: 5px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    min-width: 135px;
    float: left
}

    .ui-grid-pager-control button, .ui-grid-pager-control span, .ui-grid-pager-control input {
        margin-right: 4px
    }

    .ui-grid-pager-control button {
        height: 25px;
        min-width: 26px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: #eee;
        background-color: #f3f3f3;
        border-color: #ccc
    }

        .ui-grid-pager-control button:focus, .ui-grid-pager-control button:active:focus, .ui-grid-pager-control button.active:focus, .ui-grid-pager-control button.focus, .ui-grid-pager-control button:active.focus, .ui-grid-pager-control button.active.focus {
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px
        }

        .ui-grid-pager-control button:hover, .ui-grid-pager-control button:focus, .ui-grid-pager-control button.focus {
            color: #333;
            text-decoration: none
        }

        .ui-grid-pager-control button:active, .ui-grid-pager-control button.active {
            outline: 0;
            background-image: none;
            -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
            box-shadow: inset 0 3px 5px rgba(0,0,0,0.125)
        }

        .ui-grid-pager-control button.disabled, .ui-grid-pager-control button[disabled], fieldset[disabled] .ui-grid-pager-control button {
            cursor: not-allowed;
            opacity: .65;
            filter: alpha(opacity=65);
            -webkit-box-shadow: none;
            box-shadow: none
        }

a.ui-grid-pager-control button.disabled, fieldset[disabled] a.ui-grid-pager-control button {
    pointer-events: none
}

.ui-grid-pager-control button:focus, .ui-grid-pager-control button.focus {
    color: #eee;
    background-color: #dadada;
    border-color: #8c8c8c
}

.ui-grid-pager-control button:hover {
    color: #eee;
    background-color: #dadada;
    border-color: #adadad
}

.ui-grid-pager-control button:active, .ui-grid-pager-control button.active, .open > .dropdown-toggle.ui-grid-pager-control button {
    color: #eee;
    background-color: #dadada;
    border-color: #adadad
}

    .ui-grid-pager-control button:active:hover, .ui-grid-pager-control button.active:hover, .open > .dropdown-toggle.ui-grid-pager-control button:hover, .ui-grid-pager-control button:active:focus, .ui-grid-pager-control button.active:focus, .open > .dropdown-toggle.ui-grid-pager-control button:focus, .ui-grid-pager-control button:active.focus, .ui-grid-pager-control button.active.focus, .open > .dropdown-toggle.ui-grid-pager-control button.focus {
        color: #eee;
        background-color: #c8c8c8;
        border-color: #8c8c8c
    }

.ui-grid-pager-control button:active, .ui-grid-pager-control button.active, .open > .dropdown-toggle.ui-grid-pager-control button {
    background-image: none
}

.ui-grid-pager-control button.disabled:hover, .ui-grid-pager-control button[disabled]:hover, fieldset[disabled] .ui-grid-pager-control button:hover, .ui-grid-pager-control button.disabled:focus, .ui-grid-pager-control button[disabled]:focus, fieldset[disabled] .ui-grid-pager-control button:focus, .ui-grid-pager-control button.disabled.focus, .ui-grid-pager-control button[disabled].focus, fieldset[disabled] .ui-grid-pager-control button.focus {
    background-color: #f3f3f3;
    border-color: #ccc
}

.ui-grid-pager-control button .badge {
    color: #f3f3f3;
    background-color: #eee
}

.ui-grid-pager-control input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    display: inline;
    height: 26px;
    width: 50px;
    vertical-align: top
}

    .ui-grid-pager-control input:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)
    }

    .ui-grid-pager-control input::-moz-placeholder {
        color: #999;
        opacity: 1
    }

    .ui-grid-pager-control input:-ms-input-placeholder {
        color: #999
    }

    .ui-grid-pager-control input::-webkit-input-placeholder {
        color: #999
    }

    .ui-grid-pager-control input::-ms-expand {
        border: 0;
        background-color: transparent
    }

    .ui-grid-pager-control input[disabled], .ui-grid-pager-control input[readonly], fieldset[disabled] .ui-grid-pager-control input {
        background-color: #eee;
        opacity: 1
    }

    .ui-grid-pager-control input[disabled], fieldset[disabled] .ui-grid-pager-control input {
        cursor: not-allowed
    }

textarea.ui-grid-pager-control input {
    height: auto
}

select.ui-grid-pager-control input {
    height: 30px;
    line-height: 30px
}

textarea.ui-grid-pager-control input, select[multiple].ui-grid-pager-control input {
    height: auto
}

.ui-grid-pager-control .ui-grid-pager-max-pages-number {
    vertical-align: bottom
}

    .ui-grid-pager-control .ui-grid-pager-max-pages-number > * {
        vertical-align: bottom
    }

    .ui-grid-pager-control .ui-grid-pager-max-pages-number abbr {
        border-bottom: none;
        text-decoration: none
    }

.ui-grid-pager-control .first-bar {
    width: 10px;
    border-left: 2px solid #4d4d4d;
    margin-top: -6px;
    height: 12px;
    margin-left: -3px
}

.ui-grid-pager-control .first-bar-rtl {
    width: 10px;
    border-left: 2px solid #4d4d4d;
    margin-top: -6px;
    height: 12px;
    margin-right: -7px
}

.ui-grid-pager-control .first-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 8.7px 5px 0;
    border-color: transparent #4d4d4d transparent transparent;
    margin-left: 2px
}

.ui-grid-pager-control .next-triangle {
    margin-left: 1px
}

.ui-grid-pager-control .prev-triangle {
    margin-left: 0
}

.ui-grid-pager-control .last-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #4d4d4d;
    margin-left: -1px
}

.ui-grid-pager-control .last-bar {
    width: 10px;
    border-left: 2px solid #4d4d4d;
    margin-top: -6px;
    height: 12px;
    margin-left: 1px
}

.ui-grid-pager-control .last-bar-rtl {
    width: 10px;
    border-left: 2px solid #4d4d4d;
    margin-top: -6px;
    height: 12px;
    margin-right: -11px
}

.ui-grid-pager-row-count-picker {
    float: left;
    padding: 5px 10px
}

    .ui-grid-pager-row-count-picker select {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        height: 30px;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
        height: 25px;
        width: 67px;
        display: inline;
        vertical-align: middle
    }

        .ui-grid-pager-row-count-picker select:focus {
            border-color: #66afe9;
            outline: 0;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6)
        }

        .ui-grid-pager-row-count-picker select::-moz-placeholder {
            color: #999;
            opacity: 1
        }

        .ui-grid-pager-row-count-picker select:-ms-input-placeholder {
            color: #999
        }

        .ui-grid-pager-row-count-picker select::-webkit-input-placeholder {
            color: #999
        }

        .ui-grid-pager-row-count-picker select::-ms-expand {
            border: 0;
            background-color: transparent
        }

        .ui-grid-pager-row-count-picker select[disabled], .ui-grid-pager-row-count-picker select[readonly], fieldset[disabled] .ui-grid-pager-row-count-picker select {
            background-color: #eee;
            opacity: 1
        }

        .ui-grid-pager-row-count-picker select[disabled], fieldset[disabled] .ui-grid-pager-row-count-picker select {
            cursor: not-allowed
        }

textarea.ui-grid-pager-row-count-picker select {
    height: auto
}

select.ui-grid-pager-row-count-picker select {
    height: 30px;
    line-height: 30px
}

textarea.ui-grid-pager-row-count-picker select, select[multiple].ui-grid-pager-row-count-picker select {
    height: auto
}

.ui-grid-pager-row-count-picker .ui-grid-pager-row-count-label {
    margin-top: 3px
}

.ui-grid-pager-count-container {
    float: right;
    margin-top: 4px;
    min-width: 50px
}

    .ui-grid-pager-count-container .ui-grid-pager-count {
        margin-right: 10px;
        margin-left: 10px;
        float: right
    }

        .ui-grid-pager-count-container .ui-grid-pager-count abbr {
            border-bottom: none;
            text-decoration: none
        }

.ui-grid-pinned-container {
    position: absolute;
    display: inline;
    top: 0
}

    .ui-grid-pinned-container.ui-grid-pinned-container-left {
        float: left;
        left: 0
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-right {
        float: right;
        right: 0
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child {
        box-sizing: border-box;
        border-right: 1px solid;
        border-width: 1px;
        border-right-color: #aeaeae
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child {
        box-sizing: border-box;
        border-right: 1px solid;
        border-width: 1px;
        border-right-color: #aeaeae
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar, .ui-grid-pinned-container .ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
        width: 1px
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:not(:last-child) .ui-grid-vertical-bar {
        background-color: #d4d4d4
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
        background-color: #aeaeae
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child .ui-grid-vertical-bar {
        right: -1px;
        width: 1px;
        background-color: #aeaeae
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-header-cell:first-child {
        box-sizing: border-box;
        border-left: 1px solid;
        border-width: 1px;
        border-left-color: #aeaeae
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-cell:first-child {
        box-sizing: border-box;
        border-left: 1px solid;
        border-width: 1px;
        border-left-color: #aeaeae
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-header-cell:not(:first-child) .ui-grid-vertical-bar, .ui-grid-pinned-container .ui-grid-cell:not(:first-child) .ui-grid-vertical-bar {
        width: 1px
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-header-cell:not(:first-child) .ui-grid-vertical-bar {
        background-color: #d4d4d4
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-right .ui-grid-cell:not(:last-child) .ui-grid-vertical-bar {
        background-color: #aeaeae
    }

    .ui-grid-pinned-container.ui-grid-pinned-container-first .ui-grid-header-cell:first-child .ui-grid-vertical-bar {
        left: -1px;
        width: 1px;
        background-color: #aeaeae
    }

.ui-grid-column-resizer {
    top: 0;
    bottom: 0;
    width: 5px;
    position: absolute;
    cursor: col-resize
}

    .ui-grid-column-resizer.left {
        left: 0
    }

    .ui-grid-column-resizer.right {
        right: 0
    }

.ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
    border-right: 1px solid #d4d4d4
}

.ui-grid[dir=rtl] .ui-grid-header-cell:last-child .ui-grid-column-resizer.right {
    border-right: 0
}

.ui-grid[dir=rtl] .ui-grid-header-cell:last-child .ui-grid-column-resizer.left {
    border-left: 1px solid #d4d4d4
}

.ui-grid.column-resizing {
    cursor: col-resize;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .ui-grid.column-resizing .ui-grid-resize-overlay {
        position: absolute;
        top: 0;
        height: 100%;
        width: 1px;
        background-color: #aeaeae
    }

.ui-grid-row-saving .ui-grid-cell {
    color: #848484 !important
}

.ui-grid-row-dirty .ui-grid-cell {
    color: #610b38
}

.ui-grid-row-error .ui-grid-cell {
    color: #f00 !important
}

.ui-grid-row.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell {
    background-color: #c9dde1
}

.ui-grid-disable-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default
}

.ui-grid-selection-row-header-buttons {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer
}

    .ui-grid-selection-row-header-buttons::before {
        opacity: .1
    }

    .ui-grid-selection-row-header-buttons.ui-grid-row-selected::before, .ui-grid-selection-row-header-buttons.ui-grid-all-selected::before {
        opacity: 1
    }

.ui-grid-tree-row-header-buttons.ui-grid-tree-header {
    cursor: pointer;
    opacity: 1
}

.ui-grid-tree-header-row {
    font-weight: bold !important
}

    .ui-grid-tree-header-row .ui-grid-cell.ui-grid-disable-selection.ui-grid-row-header-cell {
        pointer-events: all
    }

.ui-grid-cell-contents.invalid {
    border: 1px solid #fc8f8f
}
