﻿@{
    ViewBag.Title = "Asset Grid";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/ui-grid/ui-grid.css" rel="stylesheet" />
<base href="@Request.GetBaseUrl()" />

<div class="row" ng-app="assetApp">
    <div ng-controller="assetAppCtrl">
        <div>
            <legend><a ng-if="AssetReadMode" class="pull-right btn btn-link" ng-click="toggleBack()" href="#">back</a> </legend>
        </div>
        <div class="container">

            <br />
            <br />

            <div ng-if="data.length > 0 && !AssetReadMode" id="assetgrid" ui-grid="gridOptions" ui-grid-pagination class="grid"></div>

            <div ng-if="NoData" ng-include src="'/NoRecords.html'"></div>


            <div ng-if="AssetReadMode" ng-include src="'/Details.html'"></div>

            <script type="text/ng-template" id="/NoRecords.html">
                <div> No Records Found</div>

            </script>

            <script type="text/ng-template" id="/Details.html">

                <form ng-if="AssetReadMode">
                    <div class="form-group">
                        <label>Asset Id</label>
                        <input type="text" class="form-control" ng-model="SelectedAsset.AssetId" readonly>
                    </div>
                    <div class="form-group">
                        <label>File Name</label>
                        <input type="text" class="form-control" ng-model="SelectedAsset.FileName" readonly>
                    </div>

                    <div class="form-group">
                        <label>Mime Type</label>
                        <input type="text" class="form-control" ng-model="SelectedAsset.MimeTypeName" readonly>
                    </div>

                    <div class="form-group">
                        <label>Mime Type</label>
                        <input type="text" class="form-control" ng-model="SelectedAsset.MimeTypeName" readonly>
                    </div>

                    <div class="form-group">
                        <label>Created By</label>
                        <input type="text" class="form-control" ng-model="SelectedAsset.CreatedBy" readonly>
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" ng-model="SelectedAsset.Email" readonly>
                    </div>

                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control" ng-model="SelectedAsset.CountryName" readonly>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" ng-model="SelectedAsset.Description" readonly>
                    </div>

                </form>


            </script>







            <script type="text/ng-template" id="view.html">
                <button class="btn btn-link" ng-click="grid.appScope.viewAsset(COL_FIELD)">View</button>
            </script>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ngApp/angular.min.js"></script>
    <script src="~/Scripts/ngApp/ui-grid.min.js"></script>
    <script src="~/Scripts/ngApp/assetApp.js"></script>
    <script src="~/Scripts/ngApp/assetSvc.js"></script>
    <script src="~/Scripts/ngApp/assetAppCtrl.js"></script>

}
